<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./fonts/icomoon/style.css">

    <link rel="stylesheet" href="./css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="./css/style.css">

    <title>Techie - Admin</title>
  <meta content="Techie is a multifunctional bot with some unique features, beside providing moderation 
feature for your server, techie has some cool music and logging commands too....." name="description">
  <meta content="Techie" name="keywords">
  <meta content="https://cdn.discordapp.com/avatars/741280410180386947/ddf8e5e39f7baee27240e8836fddd1f5.png?size=2048" name="thumbnail">
  <meta content="#FFCBCB" name="theme-color">
  <meta content="https://cdn.discordapp.com/avatars/741280410180386947/ddf8e5e39f7baee27240e8836fddd1f5.png?size=2048" itemprop="image">
  <meta property="og:site_name" content="Techie">
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/741280410180386947/ddf8e5e39f7baee27240e8836fddd1f5.png?size=2048">
  <!-- Favicons -->
  <link href="https://cdn.discordapp.com/avatars/741280410180386947/ddf8e5e39f7baee27240e8836fddd1f5.png?size=2048" rel="icon">
  <link href="https://cdn.discordapp.com/avatars/741280410180386947/ddf8e5e39f7baee27240e8836fddd1f5.png?size=2048" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Admin Commands</h2>
      

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              
              <th scope="col">Sl.no</th>
              <th scope="col">Command</th>
              <th scope="col">Description</th>
              <th scope="col">Slash</th>
              <th scope="col">Slash-input</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">

              
                      
                      <td>
                        1
                      </td>
                      <td><a href="#">ban</a></td>
                      <td>
                        used to ban an user
                        <small class="d-block">ban(userid/mention)</small>
                      </td>
                      <td>/ban</td>
                      <td>user-id</td>
                      
            
            </tr>

            <tr>
              
              <td>2</td>
              <td><a href="#">rr-add</a></td>
              <td>
                helps you to set reaction role
                <small class="d-block">rr-add(messageid)(emoji)(roleid)</small>
              </td>
              <td>Not Applicable</td>
              <td>N.A</td>
              
            </tr>
            <tr>
              
              <td>3</td>
              <td><a href="#">setlogs</a></td>
              <td>
                used to setup techie logs
                <small class="d-block">setlogs(mention channel)</small>
              </td>
              <td>/setlogs</td>
              <td>channel mention</td>
              
            </tr>
            <tr>
              
              <td>4</td>
              <td><a href="#">lock</a></td>
              <td>
                used to lock a channel
                <small class="d-block">lock(mention channel)</small>
              </td>
              <td>/lock</td>
              <td>channel mention</td>
              
            </tr>

            <tr>
              
              <td>5</td>
              <td><a href="#">unlock</a></td>
              <td>
                used to unlock channel
                <small class="d-block">unlock(mention channel)</small>
              </td>
              <td>/unlock</td>
              <td>channel mention<</td>
              
            </tr>
            <tr>
              
              <td>6</td>
              <td><a href="#">nukewarns</a></td>
              <td>
                used to nuke warns
                <small class="d-block">nukewarns(mention user)</small>
              </td>
              <td>/nukewarns</td>
              <td>user mention</td>
              
            </tr>
            <tr>
              
              <td>7</td>
              <td><a href="#">text/voice-channel</a></td>
              <td>
                used to create a channel
                <small class="d-block">text/voice-channel(name)</small>
              </td>
              <td>Not Applicable</td>
              <td>N.A</td>
              
            </tr>
             <tr>
              
              <td>8</td>
              <td><a href="#">unban</a></td>
              <td>
                used to unban an user
                <small class="d-block">unban(id)</small>
              </td>
              <td>/unban</td>
              <td>string</td>
              
            </tr>
            <tr>
              
              <td>9</td>
              <td><a href="#">createrole</a></td>
              <td>
                used to create a role
                <small class="d-block">createrole(name)</small>
              </td>
              <td>Not Applicable</td>
              <td>N.A</td>
              
            </tr>
            <tr>
              
              <td>10</td>
              <td><a href="#">enablesnipe</a></td>
              <td>
                enables snipe for the server
                <small class="d-block">enablesnipe</small>
              </td>
              <td>/togglesnipe</td>
              <td>N.A</td>
              
            </tr>
            <tr>
              
              <td>11</td>
              <td><a href="#">disablesnipe</a></td>
              <td>
                disables snipe for the server
                <small class="d-block">disablesnipe</small>
              </td>
              <td>/togglesnipe</td>
              <td>N.A</td>
              
            </tr>
            <tr>
              
              <td>12</td>
              <td><a href="#">antilink</a></td>
              <td>
                disables link usage for those who dont have embed link permission
                <small class="d-block">antilink</small>
              </td>
              <td>/security</td>
              <td>optional</td>
              
            </tr>
            <tr>
              
              <td>13</td>
              <td><a href="#">antispam</a></td>
              <td>
                enables anti spam, mutes an user for sending repeatitive messages
                <small class="d-block">antispam</small>
              </td>
              <td>/security</td>
              <td>optional</td>
              
            </tr>
            <tr>
              
              <td>14</td>
              <td><a href="#">ignore</a></td>
              <td>
                ignores auto mod for specified channel
                <small class="d-block">ignore(mention channel)</small>
              </td>
              <td>Not Applicable</td>
              <td>N.A</td>
              
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
  <footer id="footer">
    <div class="container">
      <h3><a href="https://YouthfulKosherInstance.sophieea.repl.co/indexa.html">Techie™</a></h3>
      <p>We ensure that your safety is our first priority</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      </div>
    </div>
  </footer>
</html>