<head>
    <title>HTML Meta Tag</title>
    <meta http-equiv = "refresh" content = "4; url = http://localhost:3000/main" />
 </head>
<style>
body {
background-image: url('https://cdn.discordapp.com/attachments/729054360377622638/899987606350204928/a7b015d343ad801ad6da8c242dc6ae06.gif');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
</style>